idapro68/IDA[[:space:]]Pro[[:space:]]MacOS[[:space:]]6.8.zip filter=lfs diff=lfs merge=lfs -text
idapro70/x64_idapronw_hexarm64w_hexarmw_hexx64w_hexx86w_170914_e723c5648dc3f2f588ab8339ccf62ec0.exe filter=lfs diff=lfs merge=lfs -text
idapro70/x64_idapronm_hexarm64m_hexarmm_hexx64m_hexx86m_170914_e723c5648dc3f2f588ab8339ccf62ec0.zip filter=lfs diff=lfs merge=lfs -text
